<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
</head>
<body>
    <div>
        <label>Id:</label>
        
        <label>Name:</label>
     
        <label>Description:</label>
     
        <label>Quantity:</label>
        
    </div>
</body>
</html>